*:focus {
  outline: 0.3rem solid #C390F9 !important;
  position: relative !important;
  z-index: 99 !important; }

*:disabled, *.disabled {
  opacity: 0.5 !important;
  cursor: default !important;
  pointer-events: none !important; }

.focus {
  outline: 0.3rem solid #C390F9 !important;
  position: relative !important;
  z-index: 99 !important; }

.align-right {
  margin-left: auto !important;
  justify-content: flex-end !important; }

.align-center {
  margin: 0 auto;
  justify-content: center !important; }

.margin-bottom--large {
  margin-bottom: 6rem !important; }

.margin-bottom--medium {
  margin-bottom: 3rem !important; }

.margin-bottom--small {
  margin-bottom: 1.6rem !important; }

.margin-bottom--extra-small {
  margin-bottom: 0.8rem !important; }

.border--none {
  border: none !important; }

.border-top--none {
  border-top: none !important; }

.border-bottom--none {
  border-bottom: none !important; }

.background--pale-blue {
  background-color: #f6f7ff !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 2.1rem;
  color: #253c78;
  font-size: 1.6rem; }

h1 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 7.8rem; }

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 6.7rem; }

h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem; }

h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: #253c78; }

h5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #253c78; }

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #253c78; }

ul {
  padding-left: 4rem; }

.faded {
  opacity: 0.7; }

.header__logo-link {
  color: #ffffff;
  text-decoration: none; }

.header__logo-text-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem; }

.header__logo-text-subheading {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400; }

.header__nav-link {
  color: #f0d275;
  text-decoration: none; }
  .header__nav-link--active {
    color: #ffffff; }
  .header__nav-link:hover {
    text-decoration: underline;
    color: #ffffff; }

.footer__nav-link {
  color: #ffffff;
  text-decoration: underline; }
  .footer__nav-link:hover {
    font-weight: 600; }
  .footer__nav-link:visited {
    color: #ffffff; }

.footer__copyright-disclaimer {
  color: #ffffff;
  font-size: 1.4rem; }

.notification-bubble {
  color: #253c78;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 0; }

.sidebar-nav__nav-link {
  color: #606060;
  text-decoration: none; }
  .sidebar-nav__nav-link:hover {
    color: #253c78;
    font-weight: 600; }
  .sidebar-nav__nav-link--active {
    color: #253c78;
    font-weight: 600; }

.field__label {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #253c78; }
  .field__label--secondary {
    font-weight: 400; }
  .field__label--small {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem; }
  .field__label--extra-small {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem; }

.field__input {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #253c78; }
  .field__input-search::placeholder {
    color: #253c78; }
  .field__input-search--small {
    font-size: 1.4rem; }
    .field__input-search--small::placeholder {
      font-size: 1.4rem; }

.button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none; }
  .button--small {
    font-size: 1.8rem;
    line-height: 2.7rem; }
  .button--yellow {
    color: #253c78; }
  .button--secondary {
    color: #253c78; }
    .button--secondary:hover {
      color: #ffffff; }
    .button--secondary.button--yellow:hover, .button--secondary.button--yellow.button--active {
      color: #253c78; }
    .button--secondary.button--green {
      color: #609B82; }
      .button--secondary.button--green:hover, .button--secondary.button--green.button--active {
        color: #ffffff; }
    .button--secondary.button--red {
      color: #CC6355; }
      .button--secondary.button--red:hover, .button--secondary.button--red.button--active {
        color: #ffffff; }

.link {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #253c78;
  text-decoration: none; }
  .link--normal {
    font-weight: 400;
    font-size: 1.8rem; }
  .link:hover {
    cursor: pointer;
    text-decoration: underline; }
  .link--green {
    color: #609B82; }
  .link--red {
    color: #CC6355; }

.card {
  text-decoration: none; }
  .card:visited {
    color: initial; }

.pill {
  color: #253c78; }

.accordion__button:hover .accordion__title {
  text-decoration: underline; }

.accordion__content--minimal li a {
  text-decoration: underline; }
  .accordion__content--minimal li a:hover {
    font-weight: 600; }
  .accordion__content--minimal li a:visited {
    color: #253c78; }

.accordion__content-option {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #253c78; }

.pagination__container ul {
  list-style-type: none; }

.pagination__button {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  color: #253c78; }
  .pagination__button:hover {
    text-decoration: underline;
    cursor: pointer; }
  .pagination__button--active {
    font-weight: 600;
    text-decoration: underline; }

.user-details__title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem; }

.text--black {
  color: #000000; }

.text--pale-grey {
  color: #979797; }

.text--transparent-50-base-blue {
  color: rgba(37, 60, 120, 0.5); }

.text--transparent-70-base-blue {
  color: rgba(37, 60, 120, 0.7); }

.text--small {
  font-size: 1.4rem; }

.text--medium {
  font-size: 1.6rem; }

.text--large {
  font-size: 1.8rem; }

.text--normal {
  font-weight: 400; }

.text--semibold {
  font-weight: 600; }

.notification-bubble {
  background-color: #f0d275;
  border-radius: 50%;
  height: 1.9rem;
  padding: 0 0.5rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content; }
  .notification-bubble__header-notification {
    margin-left: 0.6rem; }
  .notification-bubble__side-nav-notification {
    margin-left: 2rem; }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%; }
  .sidebar-nav__nav-link {
    padding: 1rem 0 1rem 2.1rem;
    width: 100%;
    display: flex; }
    .sidebar-nav__nav-link--active {
      border-left: 0.5rem solid #253c78;
      padding-left: 1.6rem;
      background: #f6f7ff; }

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 48.7rem; }
  .field:last-of-type {
    margin-bottom: 0; }
  .field--full-width {
    max-width: 100%; }
  .field__list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13rem);
    align-items: center;
    justify-items: start;
    grid-column-gap: 1rem;
    grid-row-gap: 0.6rem; }
    .field__list-container--vertical {
      display: block; }
      .field__list-container--vertical .field__list-item {
        margin-bottom: 2rem; }
        .field__list-container--vertical .field__list-item:last-of-type {
          margin-bottom: 0; }
  .field__list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 16rem; }
  .field__file-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%; }
    .field__file-list .field {
      margin-bottom: 1.6rem; }
    .field__file-list :last-child {
      margin-bottom: 0; }
  .field__description {
    padding-bottom: 1.5rem;
    margin-top: -.8rem; }
  .field__label {
    padding-bottom: 1.8rem; }
    .field__label--secondary {
      padding-bottom: 1.3rem; }
    .field__label--toggle {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .field__label--toggle::before {
        position: absolute;
        left: 0;
        line-height: 0; }
    .field__label--checkbox {
      padding: 0 0 0 2.86rem; }
      .field__label--checkbox::before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: url(/images/svgs/checkbox-unchecked.svg);
        width: 1.66rem;
        height: 1.66rem; }
    .field__label--radio {
      padding: 0 0 0 4.06rem; }
      .field__label--radio::before {
        display: inline-block;
        content: url(/images/svgs/radio-unchecked.svg);
        width: 3.2rem;
        height: 3.2rem; }
  .field__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border: 0.3rem solid #253c78;
    height: 5.6rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem; }
    .field__input--secondary {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #ffffff;
      border: 0.3rem solid #253c78;
      border-radius: .5rem;
      padding: .6rem;
      height: 3.8rem; }
    .field__input + .field__input-select-list-options {
      margin-top: -2.6rem; }
    .field__input-search {
      background-image: url("/images/svgs/magnifying-glass.svg");
      background-repeat: no-repeat;
      background-size: 2.7rem;
      background-position-y: center;
      background-position-x: 4.5rem;
      padding-left: 9rem; }
      .field__input-search--small {
        background-position: 3.1rem;
        background-size: 1.8rem;
        padding-left: 6.5rem; }
      .field__input-search::placeholder {
        color: #253c78; }
    .field__input-text-area {
      height: 16rem; }
    .field__input-toggle {
      display: none; }
      .field__input-toggle:disabled ~ .field__label--toggle {
        opacity: 0.5; }
        .field__input-toggle:disabled ~ .field__label--toggle:hover {
          cursor: default; }
    .field__input-checkbox:checked ~ .field__label--checkbox::before {
      content: url(/images/svgs/checkbox-checked.svg); }
    .field__input-radio:checked ~ .field__label--radio::before {
      content: url(/images/svgs/radio-checked.svg); }
    .field__input-file {
      background-color: #f6f7ff;
      border-color: #f6f7ff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.5rem 1.9rem 1.5rem 3.5rem; }

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem; }
  .button-group:last-of-type {
    margin-bottom: 0; }
  .button-group .button,
  .button-group .link {
    margin-right: 6.8rem; }
    .button-group .button:last-child,
    .button-group .link:last-child {
      margin-right: 0; }
  .button-group--small .button,
  .button-group--small .link {
    margin-right: 1.6rem; }
  .button-group--vertical {
    flex-direction: column; }
    .button-group--vertical .button,
    .button-group--vertical .link {
      margin: 0 0 4rem 0; }
      .button-group--vertical .button:last-child,
      .button-group--vertical .link:last-child {
        margin-bottom: 0; }
    .button-group--vertical.button-group--small .button,
    .button-group--vertical.button-group--small .link {
      margin: 0 0 2.4rem 0; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.3rem 4.5rem;
  background-color: #253c78;
  border: 0.3rem solid #253c78;
  border-radius: 5rem;
  box-shadow: 0 0.4rem 0.4rem 0 #253C7840;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, outline 0s; }
  .button:hover {
    cursor: pointer;
    box-shadow: 0 0.6rem 1rem 0 #253C7840;
    transform: translateY(-0.4rem); }
  .button--small {
    padding: 0.8rem 2.2rem; }
  .button--yellow {
    background-color: #f0d275;
    border-color: #f0d275; }
  .button--green {
    background-color: #609B82;
    border-color: #609B82; }
  .button--red {
    background-color: #CC6355;
    border-color: #CC6355; }
  .button--secondary {
    background-color: #ffffff;
    box-shadow: none; }
    .button--secondary:hover {
      background-color: #253c78;
      box-shadow: none;
      transform: none; }
    .button--secondary.button--yellow:hover, .button--secondary.button--yellow.button--active {
      background-color: #f0d275; }
    .button--secondary.button--green:hover, .button--secondary.button--green.button--active {
      background-color: #609B82; }
    .button--secondary.button--red:hover, .button--secondary.button--red.button--active {
      background-color: #CC6355; }
  .button__icon {
    width: 2.2rem;
    height: 2.5rem;
    margin-right: 1.2rem; }
  .button--icon:hover {
    cursor: pointer; }
  .button--icon-delete {
    width: 1.9rem;
    height: 1.9rem;
    background: none;
    border: none; }
  .button--icon-edit {
    width: 1.9rem;
    height: 1.9rem;
    background: none;
    border: none; }
  .button--icon-confirm {
    width: 1.9rem;
    height: 1.9rem;
    background: none;
    border: none; }

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: fit-content; }
  .link--back:hover .link__icon {
    transform: rotate(180deg) translateX(1rem); }
  .link__icon {
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease 0s; }
    .link__icon--flip {
      transform: rotate(180deg); }

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
  align-items: center;
  justify-items: start;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  width: 100%; }
  .card-list--vertical {
    grid-template-columns: repeat(auto-fill, 100%); }

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 3.4rem 4.5rem;
  background: #ffffff;
  border-top: 1rem solid #253c78;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem 0 #253C7840;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, outline 0s; }
  .card--yellow {
    border-color: #f0d275; }
    .card--yellow svg path {
      fill: #f0d275; }
  .card--green {
    border-color: #609B82; }
    .card--green svg path {
      fill: #609B82; }
  .card--red {
    border-color: #CC6355; }
    .card--red svg path {
      fill: #CC6355; }
  .card--pathway:hover {
    box-shadow: 0 1rem 2rem 0 #253C7840;
    transform: translateY(-0.7rem); }
  .card__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; }
    .card__content--margin-right {
      margin-right: 1.6rem; }
  .card__heading-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.2rem; }
  .card__heading {
    padding-right: 1.6rem; }
  .card--hero {
    padding-bottom: 2.5rem;
    padding-right: 3.1rem;
    align-items: flex-start;
    justify-content: flex-start; }
  .card__arrow-icon-container {
    width: 3.1rem;
    height: 3.1rem;
    margin-top: 5rem;
    flex-shrink: 0;
    align-self: flex-end;
    justify-content: flex-end; }
  .card__arrow-icon {
    width: 100%;
    height: 100%; }
  .card .pills-list {
    margin-top: 1.4rem; }
  .card .pill {
    margin-top: 1rem; }

.pills-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.pill {
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7ff;
  border-radius: 5rem;
  margin-right: 1rem; }
  .pill:last-of-type {
    margin-right: 0; }
  .pill__image {
    margin-right: 1rem;
    width: 1.9rem;
    height: 1.7rem; }

.modal-container {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  padding-top: 29rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.45); }

.modal {
  padding: 4.8rem 6.2rem;
  width: 78.3rem;
  z-index: 3;
  /* Sit on top */
  background: #ffffff;
  border-radius: 3rem; }
  .modal__content {
    margin-bottom: 3.6rem; }
    .modal__content :last-child {
      margin-bottom: 0; }
  .modal__title {
    margin-bottom: 3rem; }
  .modal__image-contianer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal__image {
    width: 4.2rem;
    height: 4.2rem; }

.file-download-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.file-download-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 4rem 2rem 0;
  width: 100%;
  border-bottom: 0.2rem solid rgba(37, 60, 120, 0.5); }
  .file-download-item:first-of-type {
    padding-top: 0; }

.file-download__button {
  margin-left: auto; }

.sidebar-filters {
  padding: 4.5rem 0;
  width: 100%;
  border: 0.2rem solid #253c78;
  border-radius: 2rem; }
  .sidebar-filters__content-container {
    padding: 0 2.6rem; }
    .sidebar-filters__content-container:first-of-type {
      margin-bottom: 3.2rem; }
  .sidebar-filters__title {
    padding-bottom: 3rem; }
  .sidebar-filters .button-group {
    margin-top: 4rem; }

.accordion__container {
  width: 100%; }
  .accordion__container--filter {
    border-top: 0.2rem solid #253c78; }
    .accordion__container--filter:last-of-type {
      border-bottom: 0.2rem solid #253c78; }
  .accordion__container--minimal {
    border-top: 0.2rem solid rgba(37, 60, 120, 0.5); }
    .accordion__container--minimal:last-of-type {
      border-bottom: 0.2rem solid rgba(37, 60, 120, 0.5); }
  .accordion__container--complex {
    background: transparent;
    box-shadow: 0 0.4rem 0.4rem 0 #253c7840;
    border-radius: 1rem;
    margin-bottom: 2.4rem; }
    .accordion__container--complex:last-of-type {
      margin-bottom: 0; }

.accordion__button {
  width: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  transition: background-color 0.4s ease-in 0s; }
  .accordion__button--minimal {
    border: none;
    padding: 3rem 2.4rem;
    background: transparent; }
  .accordion__button:hover {
    cursor: pointer; }
  .accordion__button:focus {
    outline: none; }
  .accordion__button::after {
    content: "";
    position: absolute;
    width: 2.3rem;
    height: 1.5rem;
    right: 2rem;
    background: url("/images/svgs/chevron.svg") center no-repeat;
    transition-duration: 0.3s; }
  .accordion__button--filter {
    border: none;
    padding: 1.4rem 2.6rem; }
    .accordion__button--filter::before {
      content: "";
      position: absolute;
      width: 2.3rem;
      height: 1.5rem;
      right: 2rem;
      background: url("/images/svgs/line.svg") center no-repeat;
      transition-duration: 0.3s; }
    .accordion__button--filter::after {
      content: "";
      position: absolute;
      width: 2.3rem;
      height: 1.5rem;
      right: 2rem;
      background: url("/images/svgs/line.svg") center no-repeat;
      transform: rotate(90deg);
      transition-duration: 0.3s;
      backface-visibility: hidden; }
    .accordion__button--filter.accordion--active {
      background-color: #f6f7ff; }
      .accordion__button--filter.accordion--active::after {
        transform: rotate(0deg); }
  .accordion__button--complex {
    padding: 2.6rem 3.3rem 1.6rem 2.8rem;
    border-top: 1rem solid #253c78;
    border-bottom: 1rem solid #ffffff;
    border-radius: 1rem; }
    .accordion__button--complex::after {
      right: 2.6rem; }
    .accordion__button--complex.accordion--active::after {
      transform: rotate(0deg); }
    .accordion__button--complex .button--icon-delete {
      margin-right: 3.6rem; }
    .accordion__button--complex .button--icon-edit, .accordion__button--complex .button--icon-confirm {
      margin-left: 2rem; }
    .accordion__button--complex .button--icon-confirm {
      display: none; }
  .accordion__button.accordion--active::after {
    transform: rotate(180deg); }

.accordion__content {
  display: none;
  width: 100%;
  z-index: 1; }
  .accordion__content li {
    padding-bottom: 1.2rem; }
    .accordion__content li:last-of-type {
      padding-bottom: 0; }
  .accordion__content--minimal {
    padding: 0 2.4rem 3rem 2.4rem;
    background: transparent; }
  .accordion__content--complex {
    padding: 0 8rem 2.6rem 8rem; }
    .accordion__content--complex ul {
      padding: 0 0 3.4rem 0; }
    .accordion__content--complex li {
      list-style-type: none; }
  .accordion__content--filter {
    padding: 0 2.4rem 2.4rem 2.4rem;
    background-color: #f6f7ff; }
  .accordion__content--select-list {
    background-color: #f6f7ff;
    overflow: auto;
    margin-top: -2.6rem; }
  .accordion__content-option {
    width: 100%;
    height: 5.6rem;
    background-color: #f6f7ff;
    border: none;
    text-align: left;
    padding-left: 3rem;
    z-index: 0; }
    .accordion__content-option:first-of-type {
      padding-top: 2rem;
      height: 8.6rem; }
    .accordion__content-option:hover, .accordion__content-option:focus {
      background-color: rgba(37, 60, 120, 0.2);
      cursor: pointer;
      outline: none; }

.pagination__container {
  width: 100%;
  margin-top: 7rem; }

.pagination__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0; }

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem; }
  .pagination__item:last-of-type {
    margin-right: 0; }

.pagination__button {
  padding: 0 .4rem;
  background-color: transparent;
  border: none; }

.user-details__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.4rem 4.4rem;
  background-color: #f6f7ff;
  border-radius: 2rem; }

.user-details__title {
  width: 100%;
  padding-bottom: 4.8rem; }

.user-details__item {
  width: 100%;
  padding-bottom: 3rem; }

.user-details__input-field {
  margin-top: .4rem; }

.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6rem 0;
  border-top: 0.2rem solid rgba(37, 60, 120, 0.5); }
  .section__half {
    width: 50%; }
  .section__full-width {
    width: 100%; }

.key-value-grid {
  display: grid;
  grid-template-columns: minmax(auto, 10rem) minmax(auto, 48rem);
  column-gap: 4.4rem;
  row-gap: 2rem;
  align-items: center; }

.header {
  width: 100%;
  height: fit-content;
  background-color: #253c78;
  border-bottom: 0.8rem solid #f0d275;
  margin-bottom: 5.5rem;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }
  .header__content {
    margin-bottom: -.8rem;
    grid-column: center-start / center-end; }
  .header__header-top {
    padding: 4.8rem 0; }
  .header__logo-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content; }
  .header__logo-image-container {
    width: 25.645rem;
    height: 6.2rem; }
  .header__logo-image {
    width: 100%;
    height: 100%;
    padding-right: 1.6rem; }
  .header__logo-text-container {
    padding-left: 1.6rem;
    border-left: 1px solid #ffffff; }
  .header__header-bottom {
    width: 100%; }
  .header__navbar {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 0.8rem solid #f0d275; }
  .header__nav-link {
    padding: 1.6rem;
    margin-bottom: -8px;
    text-align: center;
    border-bottom: 0.8rem solid #f0d275; }
    .header__nav-link--align-right {
      margin-left: auto;
      display: flex; }
      .header__nav-link--align-right .header__nav-link:last-of-type {
        padding-right: 0; }
    .header__nav-link--active {
      border-color: #253c78; }

.footer {
  width: 100%;
  height: fit-content;
  background-color: #253c78;
  border-top: 0.4rem solid #f0d275;
  padding: 4.8rem 0;
  margin-top: 5.5rem;
  align-self: end;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }
  .footer__content {
    grid-column: center-start / center-end; }
  .footer__footer-top {
    padding: 4.8rem 0; }
  .footer__logo-text-container {
    padding-left: 1.6rem;
    border-left: 1px solid #ffffff; }
  .footer__footer-bottom {
    width: 100%;
    padding-top: 2.4rem;
    border-top: 1px solid #f0d275; }
  .footer__nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .footer__nav-link {
    margin: 0 0 2.4rem 1.6rem;
    text-align: center; }
    .footer__nav-link:first-of-type {
      margin-left: 0; }

.grid {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-auto-rows: min-content auto min-content;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }
  .grid--sidebar {
    grid-auto-rows: min-content min-content auto min-content;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(21, [col-start] minmax(min-content, 5.5rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }
    .grid--sidebar-pagination {
      grid-auto-rows: min-content min-content min-content auto min-content; }
  .grid-column-main {
    grid-column: center-start / center-end;
    width: 100%; }
    .grid-column-main--full-width {
      grid-column: full-start / full-end; }
    .grid-column-main--half-width {
      grid-column: center-start / col-end 4; }
    .grid-column-main--with-sidebar {
      grid-column: col-start 8 / center-end; }
  .grid-column-sidebar {
    grid-column: center-start / col-end 6;
    width: 100%; }

.home-hero {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  justify-items: end; }
  .home-hero__container {
    grid-column: center-start / center-end;
    width: 100%; }
  .home-hero__curve {
    margin-top: -19rem;
    z-index: -1;
    position: relative; }
    .home-hero__curve::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: #f6f7ff;
      z-index: -1;
      clip-path: ellipse(200rem 38rem at 126rem 61.2rem); }
  .home-hero__image {
    width: 57.9rem;
    height: 40.9rem; }
  .home-hero__title {
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 7.8rem; }
    .home-hero__title-word--background-offset {
      position: relative;
      height: fit-content;
      display: inline-block;
      z-index: 1; }
      .home-hero__title-word--background-offset::before {
        content: "";
        width: 94%;
        height: 40%;
        bottom: 1rem;
        z-index: -1;
        transform: translateX(7%);
        position: absolute; }
      .home-hero__title-word--background-offset-yellow::before {
        background-color: rgba(240, 210, 117, 0.5); }
      .home-hero__title-word--background-offset-green::before {
        background-color: rgba(96, 155, 130, 0.5); }
      .home-hero__title-word--background-offset-red::before {
        background-color: rgba(204, 99, 85, 0.5); }
