*:focus {
  outline: 0.3rem solid #C390F9; }

*:disabled, *.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 2.1rem;
  color: #253c78;
  font-size: 1.6rem; }

h1 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 7.8rem; }

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 6.7rem; }

h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem; }

h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: #253c78; }

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #253c78; }

.faded {
  opacity: 0.7; }

.header__logo-link {
  color: #ffffff;
  text-decoration: none; }

.header__logo-text-heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem; }

.header__logo-text-subheading {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400; }

.header__nav-link {
  color: #f0d275;
  text-decoration: none; }
  .header__nav-link--active {
    color: #ffffff; }
  .header__nav-link:hover, .header__nav-link:focus {
    text-decoration: underline;
    color: #ffffff; }

.footer__nav-link {
  color: #ffffff;
  text-decoration: underline; }
  .footer__nav-link:hover, .footer__nav-link:focus {
    font-weight: 600; }

.footer__copyright-disclaimer {
  color: #ffffff;
  font-size: 1.4rem; }

.notification-bubble {
  color: #253c78;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 0; }

.sidebar-nav__nav-link {
  color: #606060;
  text-decoration: none; }
  .sidebar-nav__nav-link:hover, .sidebar-nav__nav-link:focus {
    color: #253c78;
    font-weight: 600; }
  .sidebar-nav__nav-link--active {
    color: #253c78;
    font-weight: 600; }

.field__label {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #253c78; }
  .field__label--secondary {
    font-weight: 400; }
  .field__label--small {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem; }

.field__input {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #253c78; }
  .field__input-select-list-option {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #253c78; }

.button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none; }
  .button--small {
    font-size: 1.8rem;
    line-height: 2.7rem; }
  .button--yellow {
    color: #253c78; }
  .button--secondary {
    color: #253c78; }
    .button--secondary:hover {
      color: #ffffff; }
    .button--secondary.button--yellow:hover {
      color: #253c78; }
    .button--secondary.button--green {
      color: #609B82; }
      .button--secondary.button--green:hover {
        color: #ffffff; }
    .button--secondary.button--red {
      color: #CC6355; }
      .button--secondary.button--red:hover {
        color: #ffffff; }

.link {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #253c78;
  text-decoration: none; }
  .link--normal {
    font-weight: 400;
    font-size: 1.8rem; }
  .link:hover {
    cursor: pointer;
    text-decoration: underline; }
  .link--green {
    color: #609B82; }
  .link--red {
    color: #CC6355; }

.pathway-card {
  text-decoration: none; }
  .pathway-card:visited {
    color: initial; }

.pill {
  color: #253c78; }

.text--black {
  color: #000000; }

.text--pale-grey {
  color: #979797; }

.text--transparent-50-base-blue {
  color: rgba(37, 60, 120, 0.5); }

.text--transparent-70-base-blue {
  color: rgba(37, 60, 120, 0.7); }

.text--small {
  font-size: 1.4rem; }

.text--large {
  font-size: 1.8rem; }

.notification-bubble {
  background-color: #f0d275;
  border-radius: 50%;
  height: 1.9rem;
  padding: 0 0.5rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content; }
  .notification-bubble__header-notification {
    margin-left: 0.6rem; }
  .notification-bubble__side-nav-notification {
    margin-left: 2rem; }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%; }
  .sidebar-nav__nav-link {
    padding: 1rem 0 1rem 2.1rem;
    width: 100%;
    display: flex; }
    .sidebar-nav__nav-link--active {
      border-left: 0.5rem solid #253c78;
      padding-left: 1.6rem;
      background: #f6f7ff; }

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%; }
  .field__list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    align-items: center;
    justify-items: center;
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.6rem; }
    .field__list-container--vertical {
      display: block; }
      .field__list-container--vertical .field__list-item {
        margin-bottom: 2rem; }
  .field__list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 16rem; }
  .field__file-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%; }
    .field__file-list .field {
      margin-bottom: 1.6rem; }
    .field__file-list :last-child {
      margin-bottom: 0; }
  .field__description {
    padding-bottom: 1.5rem;
    margin-top: -.8rem; }
  .field__label {
    padding-bottom: 1.8rem; }
    .field__label--secondary {
      padding-bottom: 1.3rem; }
    .field__label--toggle {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .field__label--toggle::before {
        position: absolute;
        left: 0;
        line-height: 0; }
    .field__label--checkbox {
      padding: 0 0 0 2.86rem; }
      .field__label--checkbox::before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: url(/images/svgs/checkbox-unchecked.svg);
        width: 1.66rem;
        height: 1.66rem; }
    .field__label--radio {
      padding: 0 0 0 4.06rem; }
      .field__label--radio::before {
        display: inline-block;
        content: url(/images/svgs/radio-unchecked.svg);
        width: 3.2rem;
        height: 3.2rem; }
  .field__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border: 0.3rem solid #253c78;
    height: 5.6rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem; }
    .field__input--secondary {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #ffffff;
      border: 0.3rem solid #253c78;
      border-radius: .5rem;
      padding: .6rem;
      height: 3.8rem; }
    .field__input + .field__input-select-list-options {
      margin-top: -2.6rem; }
    .field__input-search {
      background-image: url("/images/svgs/magnifying-glass.svg");
      background-repeat: no-repeat;
      background-position: 4.5rem;
      padding-left: 9rem; }
    .field__input-text-area {
      height: 16rem; }
    .field__input-select-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .field__input-select-list-btn {
        width: 100%;
        z-index: 2;
        position: relative; }
        .field__input-select-list-btn::after {
          content: "";
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          right: 2rem;
          z-index: -1;
          background: url("/images/svgs/chevron.svg") center no-repeat;
          transition-duration: 0.3s; }
        .field__input-select-list-btn:hover {
          cursor: pointer; }
        .field__input-select-list-btn--active::after {
          transform: rotate(180deg); }
      .field__input-select-list-options {
        display: none;
        background-color: #f6f7ff;
        overflow: auto;
        z-index: 1;
        width: 100%;
        margin-top: -3rem; }
        .field__input-select-list-options--active {
          display: block; }
      .field__input-select-list-option {
        width: 100%;
        height: 5.6rem;
        background-color: #f6f7ff;
        border: none;
        text-align: left;
        padding-left: 3rem; }
        .field__input-select-list-option:first-of-type {
          padding-top: 2rem;
          height: 8.6rem; }
        .field__input-select-list-option:hover, .field__input-select-list-option:focus {
          background-color: rgba(37, 60, 120, 0.2); }
    .field__input-toggle {
      display: none; }
      .field__input-toggle:disabled ~ .field__label--toggle {
        opacity: 0.5; }
        .field__input-toggle:disabled ~ .field__label--toggle:hover {
          cursor: default; }
    .field__input-checkbox:checked ~ .field__label--checkbox::before {
      content: url(/images/svgs/checkbox-checked.svg); }
    .field__input-radio:checked ~ .field__label--radio::before {
      content: url(/images/svgs/radio-checked.svg); }
    .field__input-file {
      background-color: #f6f7ff;
      border-color: #f6f7ff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.5rem 1.9rem 1.5rem 3.5rem; }
      .field__input-file-delete-button {
        margin-left: auto;
        width: 1.9rem;
        height: 1.9rem;
        background: none;
        border: none; }
        .field__input-file-delete-button:hover {
          cursor: pointer; }

.button-group {
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-group .button,
  .button-group .link {
    margin-right: 6.8rem; }
    .button-group .button:last-child,
    .button-group .link:last-child {
      margin-right: 0; }
  .button-group--small .button,
  .button-group--small .link {
    margin-right: 4rem; }
  .button-group--vertical {
    flex-direction: column; }
    .button-group--vertical .button,
    .button-group--vertical .link {
      margin: 0 0 4rem 0; }
      .button-group--vertical .button:last-child,
      .button-group--vertical .link:last-child {
        margin-bottom: 0; }
    .button-group--vertical.button-group--small .button,
    .button-group--vertical.button-group--small .link {
      margin: 0 0 2.4rem 0; }
  .button-group--align-right {
    justify-content: flex-end; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.3rem 7.5rem;
  background-color: #253c78;
  border: 0.3rem solid #253c78;
  border-radius: 5rem;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, outline 0s; }
  .button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.8rem 0 black;
    transform: translateY(-0.7rem); }
  .button--small {
    padding: 0.8rem 3.3rem; }
  .button--yellow {
    background-color: #f0d275;
    border-color: #f0d275; }
  .button--green {
    background-color: #609B82;
    border-color: #609B82; }
  .button--red {
    background-color: #CC6355;
    border-color: #CC6355; }
  .button--secondary {
    background-color: #ffffff; }
    .button--secondary:hover {
      background-color: #253c78;
      box-shadow: none;
      transform: none; }
    .button--secondary.button--yellow:hover {
      background-color: #f0d275; }
    .button--secondary.button--green:hover {
      background-color: #609B82; }
    .button--secondary.button--red:hover {
      background-color: #CC6355; }
  .button__image {
    width: 2.2rem;
    height: 2.5rem;
    margin-right: 1.2rem; }

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none; }
  .link__image {
    width: 2.2rem;
    height: 2.5rem;
    margin-left: 1.2rem; }

.pathway-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
  align-items: center;
  justify-items: start;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  width: 100%; }
  .pathway-card-container--vertical {
    grid-template-columns: repeat(auto-fill, 100%); }

.pathway-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3.4rem 4.5rem;
  background: #ffffff;
  border-top: 1rem solid #253c78;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(37, 60, 120, 0.25);
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, outline 0s; }
  .pathway-card--yellow {
    border-color: #f0d275; }
    .pathway-card--yellow svg path {
      fill: #f0d275; }
  .pathway-card--green {
    border-color: #609B82; }
    .pathway-card--green svg path {
      fill: #609B82; }
  .pathway-card--red {
    border-color: #CC6355; }
    .pathway-card--red svg path {
      fill: #CC6355; }
  .pathway-card:hover {
    box-shadow: 0 0.4rem 0.8rem 0 black;
    transform: translateY(-0.7rem); }
  .pathway-card__heading-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.2rem; }
  .pathway-card__heading {
    padding-right: 1.6rem; }
  .pathway-card--hero {
    padding-bottom: 2.5rem;
    padding-right: 3.1rem; }
  .pathway-card__arrow-image-container {
    width: 3.1rem;
    height: 3.1rem;
    margin-top: 5rem;
    align-self: flex-end;
    justify-content: flex-end; }
  .pathway-card__arrow-image {
    width: 100%;
    height: 100%; }

.pills-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.4rem; }

.pill {
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7ff;
  border-radius: 5rem;
  margin: 1rem 1rem 0 0; }
  .pill:last-of-type {
    margin-right: 0; }
  .pill__image {
    margin-right: 1rem;
    width: 1.9rem;
    height: 1.7rem; }

.modal-container {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  padding-top: 29rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.45); }

.modal {
  padding: 4.8rem 6.2rem;
  width: 78.3rem;
  z-index: 3;
  /* Sit on top */
  background: #ffffff;
  border-radius: 3rem; }
  .modal__content {
    margin-bottom: 3.6rem; }
    .modal__content :last-child {
      margin-bottom: 0; }
  .modal__title {
    margin-bottom: 3rem; }
  .modal__image-contianer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal__image {
    width: 4.2rem;
    height: 4.2rem; }

.file-download-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.file-download-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 4rem 2rem 0;
  width: 100%;
  border-bottom: 0.2rem solid rgba(37, 60, 120, 0.5); }
  .file-download-item:first-of-type {
    padding-top: 0; }

.file-download__button {
  margin-left: auto; }

.header {
  width: 100%;
  background-color: #253c78; }
  .header__header-top {
    padding: 4.8rem 0; }
  .header__logo-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content; }
  .header__logo-image-container {
    width: 25.645rem;
    height: 6.2rem; }
  .header__logo-image {
    width: 100%;
    height: 100%;
    padding-right: 1.6rem; }
  .header__logo-text-container {
    padding-left: 1.6rem;
    border-left: 1px solid #ffffff; }
  .header__header-bottom {
    width: 100%; }
  .header__navbar {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 0.8rem solid #f0d275; }
  .header__nav-link {
    padding: 1.6rem;
    margin-bottom: -8px;
    text-align: center;
    border-bottom: 0.8rem solid #f0d275; }
    .header__nav-link--align-right {
      margin-left: auto;
      display: flex; }
      .header__nav-link--align-right .header__nav-link:last-of-type {
        padding-right: 0; }
    .header__nav-link--active {
      border-color: #253c78; }

.footer {
  width: 100%;
  background-color: #253c78;
  border-top: 0.8rem solid #f0d275;
  padding: 4.8rem 0; }
  .footer__footer-top {
    padding: 4.8rem 0; }
  .footer__logo-text-container {
    padding-left: 1.6rem;
    border-left: 1px solid #ffffff; }
  .footer__footer-bottom {
    width: 100%;
    padding-top: 2.4rem;
    border-top: 1px solid #f0d275; }
  .footer__nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .footer__nav-link {
    margin: 0 0 2.4rem 1.6rem;
    text-align: center; }
    .footer__nav-link:first-of-type {
      margin-left: 0; }
