//Button group
.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .button,
  .link {
    margin-right: 6.8rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &--small {
    .button,
    .link {
      margin-right: 1.6rem;
    }
  }

  &--vertical {
    flex-direction: column;
    .button,
    .link {
      margin: 0 0 4rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &.button-group--small {
      .button,
      .link {
        margin: 0 0 2.4rem 0;
      }
    }
  }
}

//Button
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.3rem 4.5rem;
  background-color: $base-blue;
  border: 0.3rem solid $base-blue;
  border-radius: 5rem;
  box-shadow: 0 0.4rem 0.4rem 0 $shadow;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s,
    box-shadow 0.3s ease 0s, outline 0s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.6rem 1rem 0 $shadow;
    transform: translateY(-0.4rem);
  }

  //Sizes
  &--small {
    padding: 0.8rem 2.2rem;
  }

  //Colours
  &--yellow {
    background-color: $base-yellow;
    border-color: $base-yellow;
  }

  &--green {
    background-color: $base-green;
    border-color: $base-green;
  }

  &--red {
    background-color: $base-red;
    border-color: $base-red;
  }

  //Secondary
  &--secondary {
    background-color: $white;
    box-shadow: none;

    &:hover {
      background-color: $base-blue;
      box-shadow: none;
      transform: none;
    }

    //Colours
    &.button {
      &--yellow {
        &:hover,
        &.button--active {
          background-color: $base-yellow;
        }
      }

      &--green {
        &:hover,
        &.button--active {
          background-color: $base-green;
        }
      }

      &--red {
        &:hover,
        &.button--active {
          background-color: $base-red;
        }
      }
    }
  }

  &__icon {
    width: 2.2rem;
    height: 2.5rem;
    margin-right: 1.2rem;
  }

  //Icon buttons
  &--icon {
    &:hover {
      cursor: pointer;
    }
    &-delete {
      width: 1.9rem;
      height: 1.9rem;
      background: none;
      border: none;
    }

    &-edit {
      width: 1.9rem;
      height: 1.9rem;
      background: none;
      border: none;
    }

    &-confirm {
      width: 1.9rem;
      height: 1.9rem;
      background: none;
      border: none;
    }
  }
}

//Link
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: fit-content;

  &--back {
    &:hover {
      .link__icon {
        transform: rotate(180deg) translateX(1rem);
      }
    }
  }

  &__icon {
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease 0s;

    &--flip {
      transform: rotate(180deg);
    }
  }
}
