.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3rem;

  &__list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    align-items: center;
    justify-items: center;
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.6rem;

    &--vertical {
      display: block;

      .field__list-item {
        margin-bottom: 2rem;
      }
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 16rem;
  }

  &__description {
    padding-bottom: 1.5rem;
    margin-top: -.8rem;
  }

  &__label {
    padding-bottom: 1.8rem;

    &--secondary {
        padding-bottom: 1.3rem;
    }

    //Input toggles are checkboxes and radio buttons
    &--toggle {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        position: absolute;
        left: 0;
        line-height: 0;
      }
    }

    //Custom checkbox square
    &--checkbox {
      padding: 0 0 0 2.86rem;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: url(/images/svgs/checkbox-unchecked.svg);
        width: 1.66rem;
        height: 1.66rem;
      }
    }

    //Custom radio circle
    &--radio {
      padding: 0 0 0 4.06rem;

      &::before {
        display: inline-block;
        content: url(/images/svgs/radio-unchecked.svg);
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }

  //Text input
  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $white;
    border: 0.3rem solid $base-blue;
    height: 5.6rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;

    &--secondary {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $white;
      border: 0.3rem solid $base-blue;
      border-radius: .5rem;
      padding: .6rem;
      height: 3.8rem;
    }

    & + .field__input-select-list-options {
      margin-top: -2.6rem;
    }

    &-search {
      background-image: url("/images/svgs/magnifying-glass.svg");
      background-repeat: no-repeat;
      background-position: 4.5rem;
      padding-left: 9rem;
    }

    //Text area
    &-text-area {
      height: 16rem;
    }

    //Select list
    &-select-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-btn {
        width: 100%;
        z-index: 2;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          right: 2rem;
          z-index: -1;
          background: url("/images/svgs/chevron.svg") center no-repeat;
          transition-duration: 0.3s;
        }

        &:hover {
          cursor: pointer;
        }

        &--active {
          &::after {
            transform: rotate(180deg);
          }
        }
      }

      &-options {
        display: none;
        background-color: $pale-blue;
        overflow: auto;
        z-index: 1;
        width: 100%;
        margin-top: -3rem;

        &--active {
          display: block;
        }
      }

      &-option {
        width: 100%;
        height: 5.6rem;
        background-color: $pale-blue;
        border: none;
        text-align: left;
        padding-left: 3rem;

        &:first-of-type {
          padding-top: 2rem;
          height: 8.6rem;
        }

        &:hover,
        &:focus {
          background-color: $transparent-base-blue;
        }
      }
    }

    //Input toggles are checkboxes and radio buttons
    &-toggle {
      //Hide origional checkbox/radio button
      display: none;

      //Disabled state
      &:disabled ~ .field__label--toggle {
        opacity: 0.5;

        &:hover {
          cursor: default;
        }
      }
    }

    //Checkbox
    &-checkbox {
      //Show checked icon when checked
      &:checked ~ .field__label--checkbox {
        &::before {
          content: url(/images/svgs/checkbox-checked.svg);
        }
      }
    }

    //Radio
    &-radio {
      //Show checked icon when checked
      &:checked ~ .field__label--radio {
        &::before {
          content: url(/images/svgs/radio-checked.svg);
        }
      }
    }
  }
}
