.pills-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pill {
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pale-blue;
  border-radius: 5rem;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }

  &__image {
      margin-right: 1rem;
      width: 1.9rem;
      height: 1.7rem;
  }
}
