.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6rem 0;
  border-top: 0.2rem solid $transparent-50-base-blue;

  &__half {
    width: 50%;
  }

  &__full-width {
    width: 100%;
  }
}
