//Default
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 2.1rem;
  color: $base-blue;
  font-size: 1.6rem;
}

//Page titles
h1 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 7.8rem;
}

//Section titles
h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 6.7rem;
}

//Sub-section titles
h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem;
}

//Component titles
h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: $base-blue;
}

//Component sub-titles
h5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $base-blue;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: $base-blue;
}

ul {
  padding-left: 4rem;
}

//General modifiers
.faded {
  opacity: 0.7;
}

//Header
.header {
  &__logo-link {
    color: $white;
    text-decoration: none;
  }

  &__logo-text-heading {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
  }

  &__logo-text-subheading {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;
  }

  &__nav-link {
    color: $base-yellow;
    text-decoration: none;

    &--active {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

//Footer
.footer {
  &__nav-link {
    color: $white;
    text-decoration: underline;

    &:hover {
      font-weight: 600;
    }

    &:visited {
      color: $white;
    }
  }

  &__copyright-disclaimer {
    color: $white;
    font-size: 1.4rem;
  }
}

//Notification bubble
.notification-bubble {
  color: $base-blue;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 0;
}

//Sidebar
.sidebar-nav__nav-link {
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $base-blue;
    font-weight: 600;
  }

  &--active {
    color: $base-blue;
    font-weight: 600;
  }
}

//Form
.field {
  &__label {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: $base-blue;

    &--secondary {
      font-weight: 400;
    }

    &--small {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.7rem;
    }
    &--extra-small {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
    }
  }

  &__input {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $base-blue;

    &-search {
      &::placeholder {
        color: $base-blue;
      }

      &--small {
        font-size: 1.4rem;

        &::placeholder {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//Button
.button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: $white;
  text-align: center;
  text-decoration: none;

  //Sizes
  &--small {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  //Colours
  &--yellow {
    color: $base-blue;
  }

  //Secondary
  &--secondary {
    color: $base-blue;

    &:hover {
      color: $white;
    }

    //Colours
    &.button {
      &--yellow {
        &:hover {
          color: $base-blue;
        }
      }

      &--green {
        color: $base-green;

        &:hover {
          color: $white;
        }
      }

      &--red {
        color: $base-red;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

//Link
.link {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: $base-blue;
  text-decoration: none;

  &--normal {
    font-weight: 400;
    font-size: 1.8rem;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &--green {
    color: $base-green;
  }

  &--red {
    color: $base-red;
  }
}

//Pathway card
.card {
  text-decoration: none;

  &:visited {
    color: initial;
  }
}

.pill {
  color: $base-blue;
}

.accordion {
  &__button {
    &:hover {
      .accordion__title {
        text-decoration: underline;
      }
    }
  }

  &__content {
    &--minimal {
      li a {
        text-decoration: underline;

        &:hover {
          font-weight: 600;
        }

        &:visited {
          color: $base-blue;
        }
      }
    }
    &-option {
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $base-blue;
    }
  }
}

//Pagination
.pagination {
  &__container {

    ul {
      list-style-type: none;
    }
  }

  &__button {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: 400;
    color: $base-blue;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &--active {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

//User details
.user-details {
  &__title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 6rem;
  }
}

//Text modifiers
.text {
  //Colours
  &--black {
    color: $black;
  }

  &--pale-grey {
    color: $pale-grey;
  }

  &--transparent-50-base-blue {
    color: $transparent-50-base-blue;
  }

  &--transparent-70-base-blue {
    color: $transparent-70-base-blue;
  }

  //Sizes
  &--small {
    font-size: 1.4rem;
  }

  &--medium {
    font-size: 1.6rem;
  }

  &--large {
    font-size: 1.8rem;
  }

  //Weights
  &--normal {
    font-weight: 400;
  }

  &--semibold {
    font-weight: 600;
  }
}
