//Theme colours
$base-blue: #253c78;
$base-yellow: #f0d275;
$base-green: #609B82;
$base-red: #CC6355;

//Pale colours
$pale-blue: #f6f7ff;
$pale-grey: #979797;

//Transparent colours
//Base-blue
$transparent-20-base-blue: rgba(37, 60, 120, 0.2);
$transparent-50-base-blue: rgba(37, 60, 120, 0.5);
$transparent-70-base-blue: rgba(37, 60, 120, 0.7);
//Base-yellow
$transparent-50-base-yellow: rgba(240, 210, 117, 0.5);
//Base-green
$transparent-50-base-green: rgba(96, 155, 130, 0.5);
//Base-red
$transparent-50-base-red: rgba(204, 99, 85, 0.5);


//Basic colours
$white: #ffffff;
$black: #000000;
$grey: #606060;

//Other colours
$purple: #C390F9;
$shadow: #253C7840;
