//Theme colours
//Base colours
$base-blue: #253c78;
$base-yellow: #f0d275;

//Pale colours
$pale-blue: #f6f7ff;
$pale-grey: #253C7833;
;


//Basic colours
$white: #ffffff;
$black: #000000;
$grey: #606060;
